<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-ReverseWebsite-3afd064b-3fed-4888-b6c1-05ec5c6676bb;AttachDbFilename=|DataDirectory|\aspnet-ReverseWebsite-3afd064b-3fed-4888-b6c1-05ec5c6676bb.mdf;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  <add name="WSdb" connectionString="data source=.;initial catalog=WorkSchedule;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>